*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.container{
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
}
.dvd{
    position: relative;
    height: 200px;
    width: auto;
}